[Desktop Entry]
Encoding=UTF-8
Name=Link para Curso Ionic 01-10 Alterando um item - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=xG1DYfJT_b0&index=10&list=PLpP8rO2FXVXTJRTJ2j6rYLKQrQC1XgIra
Icon=text-html
